<html>
<head>
	<title>Burn One Million (Words)</title>
	<!-- /*<style type="text/css" href="style.css"></style>*/ -->
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
	<link link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel='stylesheet', href='/stylesheets/style.css'>
	<link rel='stylesheet', href='/stylesheets/fire.css'>
	<link rel='stylesheet', href='/stylesheets/index2.css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script src="node_modules/chart.js/dist/Chart.bundle.js"></script>

</head>
<body>
<!-- 	<h1 class="fire">
		<div class="red">B</div>
		<div class="orange">U</div>
		<div class="yellow">R</div>
		<div class="green">N</div>
		<div class="blue">O</div>
		<div class="violet">N</div>
		<div class="red">E</div>
		<div class="orange">M</div>
		BURN ONE MILLION
	</h1> -->

<div id="burn">
<div class="container">
	<div id="overlay" v-if="overlay" v-cloak>
		<div class="su-panel">
			<a href="" id="x" v-on:click="hideOverlay($event)">X</a>
			<form id="signup-form" class="su-form" v-on:submit="signUp(signIn, $event)" v-show="showSignup">
				<h2>Sign Up</h2>
				<input class="name" v-model="signIn.name" placeholder="Your Name"required>
				<input class="username" v-model="signIn.username" placeholder="username" required>
				<input class="password" v-model="signIn.password" placeholder="password" required>
				<input type="submit" class="button" value="submit">

			</form>
			<form id="login-form" class="su-form li-form" v-on:submit="logIn(signIn, $event)" v-show="!showSignup">
				<h2>Log In</h2>
				<input class="username" placeholder="username" v-model="signIn.username" required>
				<input class="password" placeholder="password" v-model="signIn.password" required>
				<input type="submit" class="button" value="submit">

			</form>
			
			<a href="#" class="right" id="li-button" v-on:click="toggleForm()"><h3>{{message}}</h3></a>
<!-- 			<a href="#" class="right" id="su-button" v-on:click="signup = !signup; message = 'Log In'"><h3>{{message}}</h3></a> -->
		</div>
	</div>



<div class="container-left">
	<!-- <h3>Friends</h3> -->
	<ul id="friend-bucket">
		<li class="friend-single" v-for="person in youMayKnow">
			<img v-bind:src="person.photo" class="friend-single-photo">
			<h5 class="friend-single-name">{{person.name}}</h5>
			<h6>{{person.genre}}</h6>

			<button v-on:click="addFriend(person, $event)" class="button followButton">Follow</button>
		</li>

	</ul>	

	<ul class="feed">
		<li  v-for="(announcement, index) in announcements" v-bind:key="announcement.id" class="fade-in">{{announcement.text}}</li>
	</ul>

	<ul>
		<li class="background" v-for="friend in friends"
			v-bind:class="{hovered:friend.hovered}"
			v-on:mouseover="hover(friend,1)"
			v-on:mouseout="hover(friend,0)"
		>
			<img v-bind:src="friend.photo" class="friend-single-photo">
			<h4 v-on:mouseover="active = !active">{{friend.name}}</h4>
			<div v-if="active" class="panel">{{friend.genre}}</div>
			
		</li>

		<!-- v-bind:class="{hovered:item.hovered}" -->
<!-- Maybe need to put mouseover panels in an identical ul that lies
under friends ul instead of h4 inside ul
Can you index the mouseover so dont all show on mousing over one
Transition classes maybe-->

	</ul>


<!-- 
	<div id="friend-bucket">
		<div class="friend-single">
			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4>
		</div>
		<div class="friend-single">			
			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4>
		</div>
		<div class="friend-single">			
			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4>
		</div>
	</div> -->

	<div id="feed">
	</div>

</div>


<div class="container-center">

<!-- 	<canvas id="myChart" width="200" height="200"></canvas> -->







	
	<div class="alltimetotal dk-orange" id="allTimeTotal">{{stats.allTimeTotal}}</div>
	<div>Total</div>



	<h2>Add Count. How many words did you write today?</h2>
	<div class="ux1">
		<form id="wordct" v-on:submit="submitCount(count, $event)">
			<input type="number" name="numwds" required id="numwds" v-model="count.words">
			<input type="date" name="date" required id="datewds" v-model="count.date">
			<button type="submit" class="button">Submit</button>
		</form>
	</div>






	<a href="#" id="viewStatsLink"><h3>View Stats</h3></a>
	<a href="#" id="setGoalLink"><h3>Set Goal</h3></a>
	<form name="monthform" id="monthform" >
		<label for="selectmonth">Choose Month to View Stats:</label>
		<select name="month" id="selectmonth">
			<option value="0">January</option>
			<option value="1">February</option>
			<option value="2">March</option>
			<option value="3">April</option>
			<option value="4">May</option>
			<option value="5">June</option>
			<option value="6">July</option>
			<option value="7">August</option>
			<option value="8">September</option>
			<option value="9">October</option>
			<option value="10">November</option>
			<option value="11">December</option>
		</select>
	</form>

	<div id="stats">
		<!-- allTimeTotal id is already used line 91 -->
<!-- 		<div class="cell a">All time total: </div>
		<div class="cell b" id="allTimeTotal">0</div> -->
		<div class="cell a">Total for month: </div>
		<div class="cell b" id="totalmonth">{{stats.monthTotal}}</div>

		<div class="cell a">Daily average for month: </div>
		<div class="cell b" id="avgmonth">{{stats.monthAverage}}</div>

		<div class="cell a">Most productive day of month: </div>
		<div class="cell b" id="prodDate">{{stats.mostProductiveDate.date}}<span id="prodDateCt">{{stats.mostProductiveDate.words}}</span> words</div>

		<div class="cell a">Most productive day of week:</div>
		<div class="cell b">{{stats.mostProductiveDay}}</div>

		<div class="cell a">Daily Average since you started: </div>
		<div class="cell b" id="dailyAvg">{{stats.allTimeAverage}}</div>

<!-- 		<div class="cell a">Average excluding zero days: </div>
		<div class="cell b" id="onlyAvg">0</div> -->
	</div>








	<h2 class="hide">How many words do you wish to write by [Set Date]?</h2>
	<div id="ux3" class="hide">
		
		<form id="setGoal" v-on:submit="submitGoal(goal, $event)">
			<input type="number" name="goalWds" id="goalWds" required placeholder="number of words" v-model="goal.words">
			<input type="date" name="goalDate" id="goalDate" required v-model="goal.date">
			<button type="submit" class="button">Submit</button>
		</form>

		<div class="hide">Words Per Day You Must Write to Meet Goal: <span id="wpdToGoal">{{stats.goalWordsPerDay}}</span> </div>
	</div>



</div>

<div class="container-right">

	<a href="#" id="showOverlay" v-on:click="showOverlay($event)"><h2>Login/Signup</h2></a>

	<div class="profile-dashboard">


		<img src="#" class="profile-photo" id="profilePhoto" v-model="profile.photo">

		<div class="option-1" v-if="showProfileForm" v-cloak>
			<div class="profile-form">
				<form id="profileForm" enctype="multipart/form-data" v-on:submit="submitProfile(profile, $event)">
					
					<input type="text" name="name" placeholder="Your Name" required class="name" v-model="profile.name">
					<input type="text" name="genre" placeholder="Genre" required class="genre" v-model="profile.genre">
					<textarea class="bio" name="bio" placeholder="Author Bio" v-model="profile.bio"></textarea >
					<input type="file" name="photo" placeholder="upload photo" class="photo" accept="image/*" id="inputPhoto" v-model="profile.photo">
					<button type="submit" class="button">Submit</button>
				</form>
			</div>
		</div>

		<div class="option-2" v-if="showProfile">


			<h2 id="profileName">{{profile.name}}</h2>
			<h3>Genre: <span id="profileGenre">{{profile.genre}}</span></h3>
			<p id="profileBio">{{profile.bio}}</p>
			<button id="editProfile" class="button" v-on:click="editProfile($event)">Edit Profile</button>

		</div>



		<div class="badge-bucket">
			<div class="badge-single">
				<h3 class="badge-title"></h3>
				<p class="badge-summary"></p>
				<img src="#" class="badge-img">
			</div>
		</div>
	</div>


</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="javascripts/ui.js"></script>

</body>
</html>