<html>
<head>
	<title>Burn One Million (Words)</title>
	<!-- /*<style type="text/css" href="style.css"></style>*/ -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
<div class="container">
	<a class="logo" href="#"></a>
	<h1 class="fire">Burn one million.</h1>

	<div id="ux1">
		<h2>How many words did you write today?</h2>
		<form id="wordct">
			<input type="number" name="numwds" required>
			<input type="date" name="date" required>
			<button type="submit" class="button">Submit</button>
		</form>
	</div>

	<div id="ux2">
		<form name="monthform" id="monthform" >
			<label for="selectmonth">Choose Month to View Stats:</label>
			<select name="month" id="selectmonth">
				<option value="0">January</option>
				<option value="1">February</option>
				<option value="2">March</option>
				<option value="3">April</option>
				<option value="4">May</option>
				<option value="5">June</option>
				<option value="6">July</option>
				<option value="7">August</option>
				<option value="8">September</option>
				<option value="9">October</option>
				<option value="10">November</option>
				<option value="11">December</option>
			</select>
		</form>

		<h3>Results:</h3>
		<div class="flex">
			<div class="cell">Total for month: </div>
			<div class="cell" id="totalmonth">0</div>

			<div class="cell">Daily average for month: </div>
			<div class="cell" id="avgmonth">0</div>

			<div class="cell">Most productive day in the month: </div>
			<div class="cell" id="prodDate">0<span id="prodDateCt">(0)</span> words</div>

			<div class="cell">Most productive day of week:</div>
			<div class="cell">0</div>

			<div class="cell">All time total: </div>
			<div class="cell" id="allTimeTotal">0</div>

			<div class="cell">Daily Average since you started: </div>
			<div class="cell" id="dailyAvg">0</div>

			<div class="cell">Average for days you wrote only: </div>
			<div class="cell" id="onlyAvg">0</div>
		</div>
	</div>
	<div id="ux3">
		<h2>What's your writing goal?</h2>
		<form id="setGoal">
			<!-- <label for="goalWds"></label> -->
			<input type="number" name="goalWds" id="goalWds" required placeholder="number of words">
			<!-- <label for="goalDate"></label> -->
			<input type="date" name="goalDate" id="goalDate" required>
			<button type="submit" class="button">Submit</button>
		</form>

		<!-- <div>Words Per Day You Must Write to Meet Goal: <span id="wpdToGoal"></span> </div> -->
	</div>
	<div>Words Per Day You Must Write to Meet Goal: <span id="wpdToGoal"></span> </div>

	<div id="ux4">
		<h2>Sign Up</h2>
		<form id="signup-form">
			<input class="username" placeholder="username">
			<input class="password" placeholder="password">
			<input 	type="submit" class="button" value="submit">
		</form>
	</div>
	<div id="ux5">
		<h2>Log In</h2>
		<form id="login-form">
			<input class="username" placeholder="username">
			<input class="password" placeholder="password">
			<input type="submit" class="button" value="submit">
		</form>
	</div>


	
</div>

<!-- 	<div>Totals:</div>
	<div>Averages:</div>
	<div>Graphs:</div>
	<div>Trends</div> -->
<script type="text/javascript" src="javascripts/ui.js"></script>
<script type="text/javascript" src="javascripts/login.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>