<html>
<head>
	<title>Burn One Million (Words)</title>
	<!-- /*<style type="text/css" href="style.css"></style>*/ -->
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
	<link link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel='stylesheet', href='/stylesheets/style.css'>
	<link rel='stylesheet', href='/stylesheets/fire.css'>
	<link rel='stylesheet', href='/stylesheets/index2.css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
<div class="container">
	<div id="overlay">
		<div class="su-panel">
			<a href="" id="x">X</a>
			<form id="signup-form" class="su-form">
				<h2>Sign Up</h2>
				<input class="username" placeholder="username">
				<input class="password" placeholder="password">
				<input type="submit" class="button" value="submit">
			</form>
			<form id="login-form" class="su-form">
				<h2>Log In</h2>
				<input class="username" placeholder="username">
				<input class="password" placeholder="password">
				<input type="submit" class="button" value="submit">
			</form>
			<a href="#" class="right" id="li-button"><h3>Log In</h3></a>
			<a href="#" class="right" id="su-button"><h3>Sign Up</h3></a>
		</div>
	</div>



<div class="container-left">
	<h3>Friends</h3>
	<div class="friend-bucket">
		<div class="friend-single">
			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4>
		</div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
		<div class="friend-single">			<img src="#" class="friend-single-photo">
			<h4 class="friend-single-name">Jenn Vance</h4>
			<h4>Genre or Thumbnail Bio</h4></div>
	</div>




</div>







<div class="container-center">
<!-- 	<div class="ux1">
		<form id="wordct">
			<input type="number" name="numwds" required>
			<input type="date" name="date" required>
			<button type="submit" class="button">Submit</button>
		</form>
	</div> -->
	


	
	<div class="alltimetotal dk-orange" id="allTimeTotal">0</div>
	<div>Total</div>

	<h2>Add Count. How many words did you write today?</h2>
	<div class="ux1">
		<form id="wordct">
			<input type="number" name="numwds" required>
			<input type="date" name="date" required>
			<button type="submit" class="button">Submit</button>
		</form>
	</div>
	<a href="#"><h3>View Stats</h3></a>
	<a href="#"><h3>Set Goal</h3></a>

	<h2 class="hide">How many words do you wish to write by [Set Date]?</h2>
	<div id="ux3" class="hide">
		
		<form id="setGoal">
			<input type="number" name="goalWds" id="goalWds" required placeholder="number of words">
			<input type="date" name="goalDate" id="goalDate" required>
			<button type="submit" class="button">Submit</button>
		</form>

		<div class="hide">Words Per Day You Must Write to Meet Goal: <span id="wpdToGoal"></span> </div>
	</div>



</div>

<div class="container-right">



	<div class="profile-dashboard">


		<img src="#" class="profile-photo">
		<div class="profile-form">
			<form id="profileForm">
				
				<input type="text" name="authorname" placeholder="Your Name" required class="name">
				<input type="text" placeholder="Genre" required class="genre">
				<textarea class="bio">Author Bio</textarea >
				<textarea class="favorites">Favorite Things</textarea >
				<input type="file" placeholder="upload photo" class="photo">
				<button type="submit" class="button">Submit</button>
			</form>
		</div>


		<h3>Jenn Vance</h3>
		<h3>Genre: Nonfiction</h3>
		<p>Bio: Jenn Vance is an author who writes about things. Some of the things she writes about are stuff and other things.</p>
		<p>Favorite Things: whiskey stones, fourth wave, making fun of people who use whiskey stones</p>

		<div class="badge-bucket">
			<div class="badge-single"></div>
		</div>
	</div>


</div>
</div>


<script type="text/javascript" src="javascripts/ui.js"></script>
<script type="text/javascript" src="javascripts/login.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>