<html>
<head>
	<title>Burn One Million (Words)</title>
	<!-- /*<style type="text/css" href="style.css"></style>*/ -->
</head>
<body>
	<h1>Enter today's word count here:</h1>
	<form id="wordct">
		<input type="number" name="numwds" required>
		<input type="date" name="date" required>
		<button type="submit">Submit</button>
	</form>

	<div>Choose Month to View Stats:</div>
	<form name="monthform" id="monthform" >
		<select name="month" id="selectmonth">
			<option value="0">January</option>
			<option value="1">February</option>
			<option value="2">March</option>
			<option value="3">April</option>
			<option value="4">May</option>
			<option value="5">June</option>
			<option value="6">July</option>
			<option value="7">August</option>
			<option value="8">September</option>
			<option value="9">October</option>
			<option value="10">November</option>
			<option value="11">December</option>
		</select>
	</form>

	<h3>Results:</h3>

	<div>Total for month: <span id="totalmonth"></span></div>
	<div>Daily average for month: <span id="avgmonth"></span></div>
	<div>Most productive day in the month: <span id="prodDate"></span> Word Count: <span id="prodDateCt"></span></div>
	<div>Most productive day of the week for the month: <span></span></div>
	<div>All time total: <span id="allTimeTotal"></span></div>
	<div>Daily Average since you started: <span id="dailyAvg"></span></div>
	<div>Average for days you wrote only: <span id="onlyAvg"></span> </div>

	<form id="setGoal">
		Enter your word goal and end date here:
		<input type="number" name="goalWds" id="goalWds" required>
		<input type="date" name="goalDate" id="goalDate" required>
		<button type="submit">Submit</button>
	</form>
	

<!-- 	<div>Totals:</div>
	<div>Averages:</div>
	<div>Graphs:</div>
	<div>Trends</div> -->

<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>