[v-cloak] {
	display:none;
}



.container-center,.container-left,.container-right {
	width: 100%;
}

.container-center {
	/*background-color: pink;*/
}

.container-left {
	/*background-color: blue;*/
}

.container-right {
	/*background-color: purple;*/
}

.button {
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 0px;
	text-transform: lowercase;
	font-size: 15px;
}

.totalDisplay {
	border-bottom: 2px solid black;
	margin: 120px 20% 100px 20%;
	text-align: left;
	position: relative;
	z-index: -1;
}

.small {
	font-size: 16px;
}

.center {
	font-size: 124px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	bottom: -20px;
	width: inherit;
}

.profile-photo {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background-color: #22ACE2;
}

.follow-bucket {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 0 12%;
	/*width: 50px;*/

}

.follow-single {
	width: 100%;
	box-sizing: border-box;
	flex-grow: 1;
	padding: .2em;
	overflow: hidden;
	list-style: none;
	border-top: solid 2px black;
	/*margin: 2px;*/
}

.follow-single h4, .follow-single h5,.follow-single h6 {
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.follow-single h4, .follow-single h5 {
	margin-bottom: 5px;
}

.follow-single-photo {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	background-color: gray;
}

.float-left {
	float: left;
	width: 33%;
}

.float-right {
	float: right;
	width: 67%;
}

/*.badge-bucket {
	need to write styles
}

.badge-single {
	need to write styles
}*/

/*.profile-form form * {
	display: block;
}*/


.profile-form {
	background-color: #E25822;
	border-radius: 5px;
	padding: 4% 0;
	width: 250px;
}


.profile-form form * {
	display: block;
	margin: 0 auto 1%;
	padding: 2%;
	border: 0;
	width: 200px;
}

/*.profile-form input:first-child, #ux3 input:first-child {
	height: 17px;
}*/

.profile-form textarea {
	height: 150px;
	width: 200px;
}

button#editProfile {
	margin: 8% auto 0% auto;
}

.profile-dashboard {
	border: 10px ridge gray;
	margin: 3% 5%;
	padding: 10%;
}

.profile-dashboard h2, .profile-dashboard h3, .profile-dashboard p {
	padding: 3%;
	border-bottom: 1px solid black;
}

.option-1 {
	/*display: none;*/
}

.option-2 {
	/*display: none;*/
}

.option-2 p {
	padding: 2%;
}

.right {
	text-align: right;
}

#overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	/*display: none;*/
}

/*#overlay-fake {
	height: 200px;
	width: 350px;
	position: absolute;
	top: 25%;
	left: 25%;
	background: rgba(0, 0, 0, 0.5);

}
*/
.su-panel {
	background-color: white;
	height: 200px;
	width: 350px;
	border-radius: 10px;
	padding: 1%;
	position: relative;
	top: 45%;
	transform: translateY(-55%);
}

.su-form {
	background-color: #E27822;
	padding: 1%;
	width: 300px;
	border-radius: 10px;
	margin: 2% auto;
	z-index: 100;
}

.su-form input {
	display: block;
	margin: 7px auto;
	height:25px;
	width: 150px;
}

.li-form {
	/*padding: 3%;*/
	margin-top: 7%;
}

.right {
	float: right;
}

#signup-form, #li-button {
	/*display: none;*/
}



#x {
	float: right;
	text-decoration: none;
	margin: 5px;
	color: black;
	font-size: 14px;
}

#x:hover {
	color: #E27822;
}

.stats {
	max-width: 500px;
	padding: 5%;
}

.stats .a {
	float: left;
	text-align: left;
	width: 50%;
}

.stats .b {
	float: right;
	width: 50%;
}

.fade-in {
	animation: fadein 2s;
	margin: 5px auto;
	border-bottom: 1px solid orange;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

ul {
	-webkit-padding-start: 0;
}

ul.feed {
	list-style: none;
}

.famousFeed{
	border: 10px groove silver;
	height: 170px;
	margin: 5%;
	padding: 2%;
	overflow: hidden;
	font-size: 13px;
}

.background {
	position: relative;
	/*height: 75px;*/
}
.genre-panel {
	position: absolute;
	display: none;
	bottom: 0;
	background-color: black;
	color: white;
	height: inherit;
	min-width: 100%;
	font-size: 14px;
}

.genre-panel p {
	padding: 1%;
}

.background:hover .genre-panel {
	display: block;
}

.hovered {
	color: green;
/*	position: absolute;
	background-color: white;
	border: 2px solid red;
	height: 50px;
	width: 50px;*/

}

.login-link {
	/*text-decoration: none;*/
	padding: 3%;
}

.copy {
	max-width: 300px;
	margin: 10% auto;
}

.copy p {
	margin: 10px auto;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Crimson Text', serif;
}

@media screen and (min-width:600px) {
	.container-center,.container-left,.container-right{
		/*width: 33.33%;	*/
		float: left;
	}
	.container-center {
		width: 60%;
	}
	.container-left,.container-right {
		width: 20%;
	}

}









