body {
	margin: 0 auto;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Crimson Text', serif;*/
	font-family: 'Special Elite', cursive;
}

a {
	color: #E25822;
	text-transform: lowercase;
}

.container * {
	margin: 0 auto;
	text-align: center;
}

:focus {
	outline: #E27822 auto 5px;
}

.dk-orange {
	color: #E25822;
}

.med-orange {
	color: #E27822;
}

.lt-orange {
	color: #E29822;
}

/*.yellow {
	color: #E2B822;
}

.blue {
	color: #22ACE2;
}*/





.hide {
	display: none;
}

.show {
	display: block;
}

.count-form-label {
	
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 20px;
	-webkit-margin-end: 20px;
	padding: 1%;
}

.center-form {
	height: 55px;
	width: 450px;
	background-color: white;
	border-radius: 0px;
	/*border: 1px solid #E29822;*/
	margin: 20px auto;
}

.center-form h2 {
	padding: 3% 0 1% 0;
	color: black;
}

.center-form form {
	width: 410px;
}

.center-form input, .center-form button {
	display: block;
	float: left;
	margin: 2.5% 2%;
	padding: 2%;
	border:0;
	border-bottom: 1px black solid;
	height: 34px;
}

.center-form button {
	border:1px black solid;
}

.center-form input {
	width: 135px;
}

.center-form input:first-child {
	/*height: 34px;*/
}



#ux2 {
	font-size: 20px;
}

#ux2 select {
	height: 32px;
	font-size: 18px;
}





#ux4, #ux5 {
	height: 100px;
	width: 450px;
	background-color: #E25822;
	border-radius: 10px;
	margin: 10px auto;
}

#ux4 h2, #ux5 h2 {
	padding-top: 15px;
}
