body {
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	
}

:focus {
	outline: #E27822 auto 5px;
}

.dk-orange {
	color: #E25822;
}

.med-orange {
	color: #E27822;
}

.lt-orange {
	color: #E29822;
}

/*.yellow {
	color: #E2B822;
}

.blue {
	color: #22ACE2;
}*/



.container * {
	margin: 0 auto;
	text-align: center;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.button {
	background-color: #22ACE2;
	color: white;
	border: 0;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 15px;
}

.ux1,#ux3 {
	height: 55px;
	width: 450px;
	background-color: #E25822;
	border-radius: 5px;
}

.ux1 h2, #ux3 h2 {
	padding: 3% 0 1% 0;
	color: white;
}

.ux1 form, #ux3 form {
	width: 410px;
}

.ux1 input, .ux1 button,#ux3 input, #ux3 button {
	display: block;
	float: left;
	margin: 2.5% 2%;
	padding: 2%;
	border: 0;
}

.ux1 input:first-child, #ux3 input:first-child {
	height: 17px;
}



#ux2 {
	font-size: 20px;
}

#ux2 select {
	height: 32px;
	font-size: 18px;
}





#ux4, #ux5 {
	height: 100px;
	width: 450px;
	background-color: #E25822;
	border-radius: 10px;
	margin: 10px auto;
}

#ux4 h2, #ux5 h2 {
	padding-top: 15px;
}
